header{ 
    position: sticky;
    nav{
      #botonera{
          background-color: rgba(79, 74, 74, 0.589);
      }
            div{
            
                a{
                    img{
                        width: 30%;
                        margin-top: 0%;
                        margin-left: 5%;
                       
                    }
                }
            }
        
    }
}