header{ position: sticky;
    nav{
      
            div{
            
                a{
                    img{
                        width: 30%;
                        margin-top: 0%;
                        margin-left: 5%;
                       
                    }
                }
            }
        
    }
}