footer{ 
    .foo{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.781);
    
      div .fa{
           @include texto(3em,blue);
           margin: 10px;
        
            &:hover{
            color:white;
            }
        }
        
                .i{
                    @include texto(3em,#8a3ab9);
                    margin: 10px;
                
                &:hover{
                    color:white;
                }
            }
            
                .gM{
                   @include texto(3em,red);
                    margin: 10px;
                &:hover{
                    color:white;
                }
            }
        }

    }
            
  
    

    