header{ 
    div{
        a{
            color: white;
           
            
        
        &:hover{
            text-decoration: none;
            color: grey;
            cursor: pointer;

        }
        }
}
    .flex-container{ 
        position: sticky;

        .ulIndex{
            display:inline;
            margin: 10px;
           }
         
          
    } 
        div{ 
           @extend .flexJustifyCenter;
        
                   
                a{
                    @extend .flexJustifyCenter;
                    @include texto(1.5em, rgb(255, 255, 255));
                   
                    }
                    img{
                        width: 70%;
                        margin-top: 15%;
                        margin-left: 5%;
                    
            }
        }
           
} 

    .p{
        background-color: antiquewhite;
    }

   