main{
    div{
        article{
            .pCenter{
        
                text-align: center;
        
            }
            p{
                @include texto(1.5em, white);
                background-color: transparent;

                    .pO{
                    @extend .degrade;
                }
            }
        }    

    }
}   section{
    div{
        .row{

            display:flex;  
        }
        div{

            .pO{  
                @extend .degrade;
            }
        }
        div{

            .pO{  
                @extend .degrade;   
            }
        }
        div{

            .pO{  
                @extend .degrade;
            }
        }
    }
   div{
        .table{
            @extend .degrade;
           
            font-size: 1em;
            background-color: rgba(35, 35, 35, 0.685);
            width: 50%;

        }
            thead{
               
                tr{ 
                  
                    th{
                        @include texto(2em, white);
                       
                    }
                }

            }
            tbody{
              
                tr{
                   
                    td{
                        @extend .degrade;
                        @include texto (2em, white);
                       
                        padding: 3.125em;
                    }
                }
            }
    }
}

