
div{
    .boton{
        
        display: flex;
        
       
        div{
            nav{
                div{
                    ul{
                        li{
                            a{
                                @include texto(1.3em, white);
                               
                               
                                }    
                            }
                        }
                       
                    }   
                }
            }
        }
    
}        
    
.hoverBoton:hover{
    transform: translate(7px,15px);
    cursor: pointer;
}